{% trans_default_domain 'FOSUserBundle' %}

<a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>

<div id="userInformation">
    <h2>Vos informations</h2>
    <div class="fos_user_user_show">
        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        <p>Sexe : {{ user.gender }}</p>
        <p>Prénom : {{ user.firstname }}</p>
        <p>Nom : {{ user.lastname }}</p>
        <p>Adresse : {{ user.address }}</p>
        <p>Code postal : {{ user.zipcode }}</p>
        <p>Ville : {{ user.city }}</p>
        <p>Pays : {{ user.country }}</p>
        <p>Téléphone : {{ user.phone }}</p>

        <div id="buttonsProfile">
            <a data-toggle="modal" href="#myInfos"><input type="button" class="persoButton centerButton" value="Mes infos en JSON"></a>
            <a href="{{ path('fos_user_profile_edit') }}"><input type="button" class="persoButton centerButton" value="Modifer mes infos"></a>
        </div>

        <div class="modal fade" id="myInfos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Mes infos</h4>
                    </div>
                    <div class="modal-body">
                        Voulez-vous afficher vos informations personnelles en format JSON conformément au droit à la portabilité des données ? <br />
                        <br><em>Note: Sur firefox vous pouvez enregistrer directement les données, sur les autres navigateurs il suffit de copier-coller les informations
                        dans un documents.</em>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        <a href="{{ path('victor_ad_myinfos') }}"><input type="button" class="btn btn-primary" value="Afficher"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

