{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}

    <div id="information" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Formulaire invalide pour la/les raison(s) suivante(s) :
        <div id="mailProblem"></div>
        <div id="usernameProblem"></div>
        <div id="passwordProblem"></div>
        <div id="zipCodeProblem"></div>
        <div id="phoneProblem"></div>
    </div>
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" id="registerButton" class="persoButton"/>
    </div>
{{ form_end(form) }}
<script>
var field = "";

var elmt = document.getElementById('fos_user_registration_form_email');
elmt.addEventListener("blur", function (e) {

field = e.target.value;

var url = "{{ absolute_url(path('ajax_check_mail')) }}";

$(document).ready(function () {
$.ajax({
type: 'POST',
url: url,
data: 'field='+field,
success: function () {
elmt.style.color = "inherit";
elmt.style.border = "1px solid #ccc";
mailfield.style.display = "none";
mailfield.innerHTML = "success";
errorBlock();

},
error: function () {
elmt.style.color = 'red';
elmt.style.border = '2px solid red';
errorfield.style.display = "block";
mailfield.style.display = "block";
mailfield.innerHTML = "<br/> - L'adresse mail à déjà été utilisée";
}
})});

});

var userfield = "";

var elmtuser = document.getElementById('fos_user_registration_form_username');
elmtuser.addEventListener("blur", function (e) {

userfield = e.target.value;

var url = "{{ absolute_url(path('ajax_check_username')) }}";

$(document).ready(function () {
$.ajax({
type: 'POST',
url: url,
data: 'userfield='+userfield,
success: function () {
elmtuser.style.color = "inherit";
elmtuser.style.border = "1px solid #ccc";
usernamefield.style.display = "none";
usernamefield.innerHTML = "success";
errorBlock();
},
error: function () {
elmtuser.style.color = 'red';
errorfield.style.display = "block";
usernamefield.style.display = "block";
usernamefield.innerHTML = "<br/> - Le pseudo à déjà été utilisé";
}
})});

});
</script>