{% trans_default_domain 'FOSUserBundle' %}

<a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>

<h2>Changer mon Mot de Passe</h2>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="container block-register">
        <h3>Securité</h3>
        {{ form_row(form.current_password) }}

        {{ form_row(form.plainPassword.first) }}

        {{ form_row(form.plainPassword.second) }}
    </div>

    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="persoButton centerButton" />
    </div>
{{ form_end(form) }}