{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Administration du site</h2>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('victor_ad_admin') }}">Liste des membres</a></li>
        <li role="presentation" class="active"><a href="{{ path('victor_ad_addphone') }}">Ajouter un téléphone</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Commandes clients <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="{{ path('victor_ad_order') }}">Paiements reçu</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order2') }}">Téléphones receptionnés</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order3') }}">Téléphones conformes</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order4') }}">Téléphones envoyé</a></li>

            </ul>
        </li>
        <li role="presentation"><a href="{{ path('victor_ad_paymentwaiting') }}">En attente de paiement</a></li>
    </ul>

    <div id="addPhone">

        <h2>Ajouter un nouveau mobile</h2>

        <p>Un nouveau téléphone est sorti ? C'est le moment de le rajouter :)</p>

        {{ form_start(form) }}

        <div id="addPhone" class="container block-register" >
            <h3>Les informations concernant le téléphone</h3>
            {{ form_row(form.brand) }}
            {{ form_row(form.model) }}
            {{ form_row(form.capacity) }}
            {{ form_row(form.color) }}
        </div>

        <div id="addImage" class="container block-register">
            <h3>Il suffit de rajouter une petite image et le tour est joué</h3>
            {{ form_row(form.image.url) }}
            {{ form_row(form.image.alt) }}
        </div>
        <div id="submitAddPhone" class="container">
            {{ form_widget(form.save, {'attr': {'class': 'persoButton'}}) }}
        </div>

        {{ form_rest(form) }}

        {{ form_end(form) }}

    </div>

{% endblock %}