{% extends '@VictorAd/layout.html.twig' %}

{% block body %}

    <h2>Bienvue sur la page d'administration du site !</h2>

    <h3>Liste des membres du site : </h3>

    <div id="listMember">

        <table>
        <tr>
            <th>Pseudo</th>
            <th>Adresse mail</th>
            <th>Rôle</th>
            <th>Status</th>
            <th>Supprimer</th>
            <th>Activer / Desactiver</th>
            <th>Promouvoir</th>
            <th>Rétrograder</th>
        </tr>
            {% for user in users %}

                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                Administrateur
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if user.enabled == 0 %}
                            Désactivé
                            {% set status = "Activer" %}
                        {% else %}
                            Activé
                            {% set status = "Desactiver" %}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('victor_ad_deleteuser', {'user': user.id}) }}"><input type="button" class="btn btn-primary center-block" value="Supprimer"></a></td>
                    <td><a href="{{ path('victor_ad_deactivateuser', {'user': user.id}) }}"><input type="button" class="btn btn-primary center-block" value="{{ status }}"></a></td>
                    <td><a href="{{ path('victor_ad_promoteuser', {'user': user.id}) }}"><input type="button" class="btn btn-primary center-block" value="Promouvoir"></a></td>
                    <td><a href="{{ path('victor_ad_demoteuser', {'user': user.id}) }}"><input type="button" class="btn btn-primary center-block" value="Retrograder"></a></td>
                </tr>

            {% endfor %}

        </table>



    </div>

{% endblock %}