{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Administration du site</h2>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('victor_ad_admin') }}">Liste des membres</a></li>
        <li role="presentation"><a href="{{ path('victor_ad_addphone') }}">Ajouter un téléphone</a></li>
        <li role="presentation" class="active"><a href="{{ path('victor_ad_order') }}">Commandes clients</a></li>
    </ul>

    {% for order in order1 %}

        Commande n°{{ order.id }} <br />
        Acheteur : {{ order.buyer.email }}
        Vendeur : {{ order.user.email }}
        Produit : {{ order.phone.model }} {{ order.phone.capacity }}Go <br />
        <a href="{{ path('victor_ad_increase', {'id': order.id}) }}">Produit reçu</a>

        <hr />

    {% endfor %}

{% endblock %}