{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Administration du site</h2>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('victor_ad_admin') }}">Liste des membres</a></li>
        <li role="presentation"><a href="{{ path('victor_ad_addphone') }}">Ajouter un téléphone</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Commandes clients <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="{{ path('victor_ad_order') }}">Paiements reçus</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order2') }}">Téléphones réceptionnés</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order3') }}">Téléphones conformes</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order4') }}">Téléphones envoyés</a></li>
            </ul>
        </li>
        <li role="presentation" class="active"><a href="{{ path('victor_ad_paymentwaiting') }}">En attente de paiement</a></li>
    </ul>

    <div id="listPayment">

        {% for payment in listPaymentWaiting %}

            <div id="block-paymentWaiting" class="contrainer-fluid">
                <div id="paymentUsername">
                    {{ payment.user.username }}
                </div>
                <div id="paymentID">
                    Commande n° {{ payment.id }}
                </div>
                <div id="paymentInfos">
                    <div id="userData">
                        <h3>Infos :</h3>
                        <p>{{ payment.user.firstname }} {{ payment.user.lastname }}</p>
                        <p>{{ payment.user.address }}<br />
                            {{ payment.user.zipcode }}{{ payment.user.city }}<br />
                            {{ payment.user.country }}</p>
                        <p>{{ payment.user.phone }}</p>
                    </div>
                    <div id="paymentAction">
                        <p style="font-size: 2em">Montant: <b>{{ payment.price * 0.9}}0€</b></p>
                        <a data-toggle="modal" class="persoButton centerButton" href="#pay{{ payment.id }}">Envoyé</a>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="pay{{ payment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Paiement</h4>
                        </div>
                        <div class="modal-body">
                            Avez-vous bien envoyé le paiement pour la commmande n°<b>{{ payment.id }}</b>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            <a class="btn btn-primary" href="{{ path('victor_ad_paymentsend', {'id': payment.id} ) }}">Envoyé</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>

{% endblock %}