{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <h2>Administration du site</h2>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{ path('victor_ad_admin') }}">Liste des membres</a></li>
        <li role="presentation"><a href="{{ path('victor_ad_addphone') }}">Ajouter un téléphone</a></li>
        <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                Commandes clients <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li role="presentation"><a href="{{ path('victor_ad_order') }}">Paiements reçu</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order2') }}">Téléphones receptionnés</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order3') }}">Téléphones conformes</a></li>
                <li role="presentation"><a href="{{ path('victor_ad_order4') }}">Téléphones envoyé</a></li>
            </ul>
        </li>
        <li role="presentation" class="active"><a href="{{ path('victor_ad_paymentwaiting') }}">En attente de paiement</a></li>
    </ul>

    <div id="listPayment">

        {% for payment in listPaymentWaiting %}

            <div id="block-paymentWaiting" class="contrainer-fluid" style="border: 2px solid red">
                <div id="paymentUsername">
                    {{ payment.user.username }}
                </div>
                <div id="paymentPrice">
                    {{ payment.id }}
                </div>
                <div id="paymentInfos">
                    <div id="userData">
                        <h3>Infos</h3>
                        <p>{{ payment.user.firstname }} {{ payment.user.lastname }}</p>
                        <p>{{ payment.user.address }}<br />
                            {{ payment.user.zipcode }}{{ payment.user.city }}<br />
                            {{ payment.user.country }}</p>
                        <p>{{ payment.user.phone }}</p>
                    </div>
                    <div id="paymentAction">
                        <p>Montant : <b>{{ payment.price }}€</b></p>
                        <a href="{{ path('victor_ad_paymentsend', {'id': payment.id} ) }}"><input type="button" class="persoButton" value="Chèque envoyé"></a>
                    </div>
                </div>
            </div>

        <ul>
            <li>{{ payment.price }}</li>
            <li>{{ payment.user.username }}</li>
        </ul>

        {% endfor %}

    </div>

{% endblock %}