{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <form action="{{ path('victor_ad_alloffer') }}" method="post">
        <input type="text" name="min" placeholder="prix min">
        <input type="text" name="max" placeholder="prix max">
        <input type="submit">
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">Capacité</th>
                <th scope="col">Prix</th>
                <th scope="col">URL</th>
            </tr>
            {% for offer in alloffer %}
                <tr>
                    <td>{{ offer.phone.brand}}</td>
                    <td>{{ offer.phone.model }}</td>
                    <td>{{ offer.phone.capacity }} Go</td>
                    <td>{{ offer.price }}</td>
                    <td><a href="{{ path('victor_ad_buyviewphone', {'phone': offer.phone.model, 'id': offer.phone.id}) }}">Offre</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}