{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a class="persoButtonReturn" href="{{ path('victor_core_home') }}">Revenir à l'accueil</a>

    <h2>Liste des offres en cours</h2>

    <div id="choicePrice">
        <h3>Selon mon budget</h3>
        <form action="{{ path('victor_ad_alloffer') }}" method="post">
            <input type="number" class="inputPrice" name="min" placeholder="Prix min" required="required"> <br />
            <input type="number" class="inputPrice" name="max" placeholder="Prix max" required="required"> <br />
            <input type="submit" class="persoButton" id="validPriceForm">
        </form>
    </div>

    {% if alloffer == null %}

        <p>Aucune offre ne correspond à vos critères ...</p>

    {% else %}

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th scope="col">Modèle</th>
                <th scope="col">Couleur</th>
                <th scope="col">Capacité</th>
                <th scope="col">Prix</th>
                <th scope="col">URL</th>
            </tr>
            {% for offer in alloffer %}
                <tr>
                    <td>{{ offer.phone.model}}</td>
                    <td>{{ offer.phone.color }}</td>
                    <td>{{ offer.phone.capacity }} Go</td>
                    <td>{{ offer.price }}€</td>
                    <td><a href="{{ path('victor_ad_buyviewphone', {'phone': offer.phone.model, 'id': offer.phone.id}) }}">Offre</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% endif %}

{% endblock %}