{% extends '@VictorAd/layout.html.twig' %}

{% block victorad_body %}

    <p>Ici se trouvera la liste des telephones permettant un achat de ces derniers</p>

    <h3>Je choisi mon modèle d'iPhone</h3>

    <h4>2014</h4>
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 6'}) }}>iPhone 6</a> <br />
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 6 Plus'}) }}>iPhone 6 Plus</a> <br />
    <hr />

    <h4>2015</h4>
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 6s'}) }}>iPhone 6s</a> <br />
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 6s Plus'}) }}>iPhone 6s Plus</a> <br />
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone SE'}) }}>iPhone SE</a> <br />
    <hr />

    <h4>2016</h4>
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 7'}) }}>iPhone 7</a> <br />
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 7 Plus'}) }}>iPhone 7 Plus</a> <br />
    <hr />

    <h4>2017</h4>
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 8'}) }}>iPhone 8</a> <br />
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone 8 Plus'}) }}>iPhone 8 Plus</a> <br />
    <a href={{ path('victor_ad_buyview', {'phone': 'iPhone X'}) }}>iPhone X</a>

{% endblock %}