{% extends 'VictorAdBundle::layout.html.twig' %}

{% block victorad_body %}

    <h3>Votre choix :</h3>
    <div class="phoneSelect center-block">

        <span id="brand">{{ phone.brand }} </span><br />
        <span id="model">{{ phone.model }} </span><br />
        Couleur : {{ phone.color }} <br />
        Capacité : {{ phone.capacity }} Go <br />
        <img src="{{ phone.image.url }}" class="imgPhone">

    </div>



    <hr />

    <h4>Offres</h4>

    <table>
        <tr>
            <th>Etat du téléphone</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Accepter offre</th>
        </tr>

        {% for offer in listOffers %}



            <tr>
                <td>{{ offer.status }}</td>
                <td>{{ offer.price }}</td>
                <td>{{ offer.description }}</td>
                <td><a href="{{ path('victor_ad_summarybuy',{'phone': phone.model, 'id': phone.id, 'offerid': offer.id}) }}">Choisir cette offre</a></td>
            </tr>



        {% endfor %}

    </table>



    {% if listOffers == null %}

    <p>Il n'y a actuellement aucune offre concernant ce produit</p>

    {% endif %}


{% endblock %}