{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <a class="persoButtonReturn" href="{{ path('victor_core_home') }}">Revenir à l'accueil</a>

    <h2>Je choisis sa couleur et sa capacité</h2>

    <div class="listPhone">
        {% for phone in listPhones %}
            <div class="phoneSelect">

                <span class="brand">{{ phone.brand }} </span><br />
                <span class="model">{{ phone.model }} </span><br />
                Couleur : {{ phone.color }} <br />
                Capacité : {{ phone.capacity }} Go <br />
                <img src="{{ phone.image.url }}" alt="{{ phone.image.alt }}" class="imgPhone">
                <hr />
                <a class="persoButton centerButton" href="{{ path('victor_ad_buyviewphone', {'phone': phone.model, 'id': phone.id}) }}">Voir les offres</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}