{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <p>Vous avez choisi ce modèle de telephone.</p>

    <div id="listPhone">
        {% for phone in listPhones %}
            <div class="phoneSelect">

                {{ phone.brand }}
                {{ phone.model }}
                {{ phone.color }}
                {{ phone.capacity }}
                <!--<img src="{{ phone.image.url }}">-->
                <a href="{{ path('victor_ad_buyviewphone', {'phone': phone.model, 'id': phone.id}) }}">Voir les offres</a>
                <hr />
            </div>
        {% endfor %}
    </div>

{% endblock %}