{% extends 'VictorAdBundle::layout.html.twig' %}

{% block victorad_body %}

    <h3>Votre choix :</h3>
    <div class="phoneSelect center-block">

        <span id="brand">{{ phone.brand }} </span><br />
        <span id="model">{{ phone.model }} </span><br />
        Couleur : {{ phone.color }} <br />
        Capacité : {{ phone.capacity }} Go <br />
        <img src="{{ phone.image.url }}" class="imgPhone">

    </div>



    <hr />

    <h4>Offres</h4>

    {% for offer in listOffers %}

        <ul>
            <li>{{ offer.price }}€ <a href="#">Choisir cette offre</a></li>
        </ul>

    {% endfor %}

    {% if listOffers == null %}

    <p>Il n'y a actuellement aucune offre concernant ce produit</p>

    {% endif %}


{% endblock %}