{% extends 'VictorAdBundle::layout.html.twig' %}

{% block victorad_body %}

    <a href="{{ path('victor_core_home') }}"><input type="button" class="persoButtonReturn" value="Revenir à l'accueil"></a>

    <h2>Votre choix :</h2>
    <div class="phoneSelect center-block">

        <span id="brand">{{ phone.brand }} </span><br />
        <span id="model">{{ phone.model }} </span><br />
        Couleur : {{ phone.color }} <br />
        Capacité : {{ phone.capacity }} Go <br />
        <img src="{{ phone.image.url }}" class="imgPhone">

    </div>



    <hr />

    <h4>Offres</h4>

    {% if listOffers == null %}

        <p>Il n'y a actuellement aucune offre concernant ce produit</p>

    {% else %}

        <table class="table table-bordered">
            <tr>
                <th scope="col">Etat du téléphone</th>
                <th scope="col">Prix</th>
                <th scope="col">Description</th>
                <th scope="col">Accepter offre</th>
            </tr>

            {% for offer in listOffers %}

                {% if offer.sold == 0 %}

                    <tr>
                        <td>{{ offer.status }}</td>
                        <td>{{ offer.price }}€</td>
                        <td>{{ offer.description }}</td>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <td><a href="{{ path('victor_ad_summarybuy',{'phone': phone.model, 'id': phone.id, 'offerid': offer.id}) }}">Choisir cette offre</a></td>
                        {% else %}
                            <td>Pour accepter cette offre<a href="{{ path('fos_user_security_login') }}"> connectez-vous</a></td>
                        {% endif %}
                    </tr>

                {% endif %}

            {% endfor %}

        </table>

    {% endif %}


{% endblock %}