{% block victorad_body %}

    <div id="banner">
        <img src="{{ asset('bundles/victorad/images/iPhone.jpg') }}" id="deskImage" alt="Macbook bureau"/>

        <div id="choiceHomePage">
            <p>Faites votre choix ! <br />

                <a href="{{ path('victor_ad_buy') }}" class="button-home">Acheter</a>

                <a href="{{ path('victor_ad_sell') }}" class="button-home">Vendre</a>

            </p>
        </div>
    </div>

    <div id="mobileHeader">
        <div id="mobileBanner">
            <img src="{{ asset('bundles/victorad/images/banner2.jpg') }}" id="banner2" alt="image iPhone">
        </div>

        <div id="mobileChoice">
            <h2>Que souhaitez vous faire aujourd'hui ?</h2>
            <div id="mobileChoiceButton">
                <a href="{{ path('victor_ad_buy') }}" class="button-home">Acheter</a>

                <a href="{{ path('victor_ad_sell') }}" class="button-home">Vendre</a>
            </div>
        </div>
    </div>

    <div id="concept" class="container-fluid">
        <h2>Le concept :</h2>
        <p>
            iVente vous permet d'acheter votre iPhone en toute sécurité directement sur internet. Vous n'avez pas
            à vous soucier si l'iPhone a un vice caché, tous les iPhone mis en vente sont vérifiés avant expédition.
        </p>
        <p>
            iVente vous permet aussi de vendre votre iPhone en toute simplicité. Déposez votre annonce avec la somme désirée
            et si votre iPhone a trouvé preneur, vous n'aurez qu'à nous l'expédier et nous nous occuperons du reste.
        </p>
    </div>


    <div id="operation" class="container-fluid">
        <h2>Comment ça marche ?</h2>

        <div class="container-fluid buysellOperation">
            <h3>Partie Achat</h3>
            <ul>
                <li>
                    <div class="number">1.</div> Choisissez votre smartphone parmi les offres présentes sur le site. S'il n'y pas d'offre
                    pour le téléphone que vous désirez, n'hésitez pas à revenir régulièrement pour voir les nouvelles offres
                    disponibles.
                </li>
                <li>
                    <div class="number">2.</div> Payez de manière sécurisée à l'aide de notre partenaire Stripe, le vendeur nous envoie alors le smartphone
                    pour que nous puissions l'expertiser. Vous pouvez être ainsi assuré que le téléphone est parfaitement fonctionnel
                    et conforme à la description.
                </li>
                <li>
                    <div class="number">3.</div> Une fois tous les tests effectués, nous vous envoyons le smartphone directement chez vous le plus
                    rapidement possible.
                </li>
            </ul>
        </div>
        <div class="container-fluid buysellOperation">
            <h3>Partie Vente</h3>
            <ul>
                <li>
                    <div class="number">1.</div> Choisissez votre smartphone parmi toutes les références disponibles sur le site. Si le smartphone que vous
                    souhaitez vendre n'est pas référencé, vous pouvez nous envoyer un mail <a href="mailto:contact@vetudes.com">ici</a>
                    pour savoir si nous comptons l'ajouter prochainement.
                </li>
                <li>
                    <div class="number">2.</div> Une fois le paiement effectué par l'acheteur, vous recevrez un mail avec toutes les indications nécessaires pour nous envoyer
                    votre smartphone. Le fonctionnement et la conformité de l'appareil seront contrôlés avant l'expédition.
                </li>
                <li>
                    <div class="number">3.</div> Dès que le smartphone est expédié vous récupérez les montant de la vente (-10% de commission) directement dans votre portefeuille.
                    Vous pourrez à tout moment demander à recupérer votre argent.
                </li>
            </ul>

        </div>
    </div>

{% endblock %}