{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_core_home') }}"><input type="button" class="persoButtonReturn" value="Revenir à l'accueil"></a>

    <h2>Mon offre de vente : </h2>
    <em>En faisant votre offre vous acceptez qu'une commission de 10% soit prélevée de la vente conformément aux
        <a href="{{ path('victor_ad_tos') }}">CGV</a></em>

    {{ form_start(form) }}

    <div class="container block-register">
        <h3>Mon offre</h3>
        {{ form_row(form.price) }}

        {{ form_row(form.status) }}

        {{ form_row(form.description) }}

    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}