{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_core_home') }}"><input type="button" class="persoButtonReturn" value="Revenir à l'accueil"></a>

    <h2>Faire sa proposition : </h2>

    {{ form_start(form) }}

    <div class="container block-register">
        {{ form_row(form.price) }}

        {{ form_row(form.status) }}

        {{ form_row(form.description) }}

    </div>

    {{ form_rest(form) }}

    {{ form_end(form) }}

{% endblock %}