{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <a href="{{ path('victor_core_home') }}"><input type="button" class="persoButtonReturn" value="Revenir à l'accueil"></a>

    <h2>Je choisi sa couleur et sa capacité</h2>

    <div class="listPhone">
        {% for phone in listPhones %}
        <div class="phoneSelect">

            <span id="brand">{{ phone.brand }} </span><br />
            <span id="model">{{ phone.model }} </span><br />
                Couleur : {{ phone.color }} <br />
                Capacité : {{ phone.capacity }} Go <br />
                <img src="{{ phone.image.url }}" class="imgPhone">
                <hr />
                <a href="{{ path('victor_ad_sellviewphone', {'phone': phone.model, 'id': phone.id}) }}"><input type="button" class="persoButton centerButton" value="Voir les offres"></a>
        </div>
        {% endfor %}
    </div>

{% endblock %}