{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <p>Vous avez choisi ce modèle de telephone.</p>

    <div class="listPhone">
        {% for phone in listPhones %}
        <div class="phoneSelect">

            <span id="brand">{{ phone.brand }} </span><br />
            <span id="model">{{ phone.model }} </span><br />
                Couleur : {{ phone.color }} <br />
                Capacité : {{ phone.capacity }} Go <br />
                <img src="{{ phone.image.url }}" class="imgPhone">
                <hr />
                <a href="{{ path('victor_ad_sellviewphone', {'phone': phone.model, 'id': phone.id}) }}"><input type="button" class="persoButton" value="Voir les offres" style="margin: auto"></a>
        </div>
        {% endfor %}
    </div>

{% endblock %}