{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <p>Vous avez choisi ce modèle de telephone.</p>

    <ul>
        {% for phone in listPhones %}
        <div class="phoneSelect">

                {{ phone.brand }}
                {{ phone.model }}
                {{ phone.color }}
                {{ phone.capacity }}
                <!--<img src="{{ phone.image.url }}">-->
                <hr />
        </div>
        {% endfor %}
    </ul>


{% endblock %}