{% extends 'VictorAdBundle::layout.html.twig' %}

{% block victorad_body %}

Le model choisi est un telephone dont les caractéristiques sont les suivantes :

    <ul>
        <li>Marque : {{ phone.brand }}</li>
        <li>Modèle : {{ phone.model }}</li>
        <li>Capacité : {{ phone.capacity }} Go</li>
        <li>Couleur : {{ phone.color }}</li>
    </ul>

    <div id="phoneImage"><img src="{{ phone.image.url }}"></div>

    <hr />

    <h4>Offres</h4>

    {% for offer in listOffers %}

        <ul>
            <li>{{ offer.price }}</li>
        </ul>

    {% endfor %}

    {% if listOffers == null %}

        <p>Il n'y a actuellement aucune offre concernant ce produit</p>

    {% endif %}

{% endblock %}