{% extends "@VictorAd/layout.html.twig" %}

{% block victorad_body %}

    <h2>Je choisi mon modèle d'iPhone</h2>

    <div class="container-fluid">
        <div class="yearPhone col-md-3">
            <h3 class="year">2014</h3>
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 6'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 6"></a> <br />
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 6 Plus'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 6 Plus"></a> <br />
        </div>

        <div class="yearPhone col-md-3">
            <h3 class="year">2015</h3>
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 6s'}) }}><input type="button" class="persoButton phoneButton" value=" iPhone 6s"></a> <br />
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 6s Plus'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 6s Plus"></a> <br />
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone SE'}) }}><input type="button" class="persoButton phoneButton" value=" iPhone SE"></a> <br />
        </div>

        <div class="yearPhone col-md-3">
            <h3 class="year">2016</h3>
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 7'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 7"></a> <br />
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 7 Plus'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 7 Plus"></a><br />
        </div>

        <div class="yearPhone col-md-3">
            <h3 class="year">2017</h3>
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 8'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 8"></a> <br />
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone 8 Plus'}) }}><input type="button" class="persoButton phoneButton" value="iPhone 8 Plus"></a><br />
            <a href={{ path('victor_ad_sellview', {'phone': 'iPhone X'}) }}><input type="button" class="persoButton phoneButton" value="iPhone X"></a>
        </div>
    </div>

{% endblock %}