{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <div id="summary" class="col-md-6 col-md-offset-3">
        <h2>Récapitulatif :</h2>


        <p>Vous avez choisi ce téléphone :</p>

        <div id="summaryList">
            Marque : <span class="labelSummary">{{ phone.brand }} </span><br />
            Modèle : <span class="labelSummary">{{ phone.model }} </span><br />
            Couleur : <span class="labelSummary">{{ phone.color }} </span> <br />
            Capacité : <span class="labelSummary">{{ phone.capacity }} Go</span> <br />
        </div>
        <img src="{{ phone.image.url }}" class="imgPhone">
        <hr>

        <p>L'offre que vous avez selectionné est à <span id="offerview">{{ offer.price }}€</span>,
        si cela vous conviens, nous pouvons passer au paiement :)</p>
        <div id="paiementButton">
            <form action="{{ path('victor_ad_ordercheckout',{'offerid': offer.id} ) }}" method="POST" id="payform">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_9y2iO8ZCIEg06ONKLxjJ9qvb"
                        data-amount="{{ offer.price * 100}}"
                        data-label="Passer au paiement"
                        data-name="iVente"
                        data-description="Merci de votre achat :)"
                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                        data-locale="auto"
                        data-zip-code="true"
                        data-currency="eur">
                </script>
            </form>
        </div>
    </div>

{% endblock %}