{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <p>Ici récapitulatif</p>

    <span id="offerview">{{ offer.price }}</span> c'est l'offre que vous avez selectionné !

    <p>Cette offre est valabre pour :</p>

    <div class="phoneSelect center-block">

        <span id="brand">{{ phone.brand }} </span><br />
        <span id="model">{{ phone.model }} </span><br />
        Couleur : {{ phone.color }} <br />
        Capacité : {{ phone.capacity }} Go <br />
        <img src="{{ phone.image.url }}" class="imgPhone">

    </div>

    <a href="{{ path('victor_ad_paiement',{'offerid': offer.id} ) }}">Proceder au paiement</a>

{% endblock %}