{% extends 'VictorAdBundle::layout.html.twig' %}

{% block body %}

<h2>Bienvenue sur votre compte {{ app.user.username }} !</h2>

    <h3>Opérations courantes</h3>
        <ul>
            <li><a href="{{ path('fos_user_profile_show') }}">Mes informations</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">Changer mon mot de passe</a> </li>
            <li><a href="{{ path('victor_ad_deleteconfirm') }}">Supprimer mon compte</a> </li>
        </ul>

    <h3>Mes achats</h3>

        <a href="{{ path('victor_ad_purchases') }}">Mes commandes</a>

    <h3>Mes ventes</h3>
    <ul>
        <li><a href="{{ path('victor_ad_sales') }}">Mes ventes</a></li>
        <li><a href="{{ path('victor_ad_currentoffer') }}">Mes offres</a></li>
    </ul>

    <h3>Un problème ?</h3>

        <a href="mailto:admin@vetudes.com">Contactez-nous ! :)</a>

{% endblock %}