{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>

    <h2>Votre résumé avant le paiement</h2>

    <div id="confirmWallet" class="col-md-6 col-md-offset-3">
        <div id="textConfirmWallet">
            <p>Vous souhaitez recevoir la somme de : <span id="priceConfirmWallet">{{ sum }}€</span></p>

            <p>Nous allons vous envoyer un chèque à l'adresse renseignée.
                Nous vous prions de vérifier que les informations sont correctes.</p>
        </div>

        <hr />

        <div class="container-fluid">
            <h3>Vos infos</h3>
            <p>Adresse e-mail: {{ user.email }}</p>
            <p>Prénom: {{ user.firstname }}</p>
            <p>Nom: {{ user.lastname }}</p>
            <p>Adresse: {{ user.address }}</p>
            <p>Code postal: {{ user.zipcode }}</p>
            <p>Ville: {{ user.city }}</p>
            <p>Pays: {{ user.country }}</p>
            <p>Téléphone: {{ user.phone }}</p>
        </div>

    </div> <br/>
    <div id="buttonConfirmWallet" class="col-md-6 col-md-offset-3">
        <a href="{{ path('fos_user_profile_edit') }}"><input type="button" class="persoButton" value="Modifier mes infos"></a>
        <a href="{{ path('victor_ad_payrequest') }}"><input type="button" class="persoButton" value="Confirmer la demande de paiement"></a>
    </div>

{% endblock %}