{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a class="persoButtonReturn" href="{{ path('victor_ad_account') }}">Revenir sur le compte</a>

    <h2>Vos offres en cours :</h2>

    {% if listCurrentoffer == null %}

        <p>Vous n'avez actuellement aucune annonce en cours</p>

    {% else %}

        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Vente n°</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Capacité</th>
                    <th>Couleur</th>
                    <th>Prix</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>

                {% for currentoffer in listCurrentoffer %}

                    <tr>
                        <td>{{ currentoffer.id }}</td>
                        <td>{{ currentoffer.phone.brand }}</td>
                        <td>{{ currentoffer.phone.model }}</td>
                        <td>{{ currentoffer.phone.capacity }}Go</td>
                        <td>{{ currentoffer.phone.color }}</td>
                        <td>{{ currentoffer.price }}€</td>
                        <td><a class="persoButton centerButton" href="{{ path('victor_ad_editoffer', {'id': currentoffer.id}) }}">Modifier l'offre</a></td>
                        <td><a data-toggle="modal" class="persoButton centerButton" href="#delete{{ currentoffer.id }}">Supprimer l'offre</a></td>
                    </tr>

                    <div class="modal fade" id="delete{{ currentoffer.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Supprimer cette offre ?</h4>
                                </div>
                                <div class="modal-body">
                                    Souhaitez-vous supprimer votre offre actuelle ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                    <a class="btn btn-danger centerButton" href="{{ path('victor_ad_deleteoffer', {'id': currentoffer.id}) }}">Supprimer l'offre</a></td>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </table>
        </div>

    {% endif %}

{% endblock %}