{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    {% for currentoffer in listCurrentoffer %}

        Vos ventes en cours : <br />

        {{ currentoffer.phone.brand }} <br />
        {{ currentoffer.phone.model }} <br />
        {{ currentoffer.phone.capacity }} <br />
        {{ currentoffer.phone.color }} <br />

        Au prix de : <br />

        {{ currentoffer.price }}€

        <hr>

        <a href="{{ path('victor_ad_deleteoffer', {'id': currentoffer.id}) }}"><input type="button" class="persoButton" value="Supprimer cette offre"></a>
        <a href="{{ path('victor_ad_editoffer', {'id': currentoffer.id}) }}"><input type="button" class="persoButton" value="Modifier l'offre"></a>

    {% endfor %}

{% endblock %}