{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_ad_account') }}">Revenir à mon compte</a>

    <h3>Le suivi de la commande</h3> <br />

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
            {{ progress }}%
        </div>
    </div>

{{ infos }}

{% endblock %}