{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a class="persoButtonReturn" href="{{ path('victor_ad_account') }}">Revenir sur le compte</a>

    <h2>Le suivi de la commande</h2> <br />

    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ progress }}%">
            {{ progress }}%
        </div>
    </div>

    <div id="infomessage">
        <p>{{ infos }}</p>
    </div>

    <div class="table-responsive">

        <table class="table table-bordered">
            <tr>
                <th scope="col">Commande</th>
                <th scope="col">Paiement</th>
                <th scope="col">Réception</th>
                <th scope="col">Conformité</th>
                <th scope="col">Envoi</th>
            </tr>

            <tr>
                <th>{{ ordernumber }}</th>
                <th>{{ paydate|date('d/m/Y H:i') }}</th>
                {% if progress >= 50 %}
                    <th>{{ recepdate|date('d/m/Y H:i') }}</th>
                {% else %}
                    <th>--</th>
                {% endif %}
                {% if progress >= 75 %}
                    <th>{{ conformdate|date('d/m/Y H:i') }}</th>
                {% else %}
                    <th>--</th>
                {% endif %}
                {% if progress == 100 %}
                    <th>{{ sendate|date('d/m/Y H:i') }}</th>
                {% else %}
                    <th>--</th>
                {% endif %}
            </tr>
        </table>

    </div>

{% endblock %}