{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a class="persoButtonReturn" href="{{ path('victor_ad_account') }}">Revenir sur le compte</a>

    <h3>Vous avez changé d'avis ?</h3>

    <a href="mailto:contact@vetudes.com">Contactez-nous pour annuler une commande</a>

    <h3>Vos Achats</h3>

    {% if listPurchases == null %}

        <p>Vous n'avez rien acheté pour le moment</p>

    {% endif %}

    <div class="listPhone">

    {% for purchase in listPurchases %}

        <div class="phoneSelect">

            <span id="brand">{{ purchase.phone.brand }} </span><br />
            <span id="model">{{ purchase.phone.model }} </span><br />
            Couleur : {{ purchase.phone.color }} <br />
            Capacité : {{ purchase.phone.capacity }} Go <br />
            <img src="{{ purchase.phone.image.url }}" alt="{{ purchase.phone.image.alt }}" class="imgPhone">

            <hr />
            Prix : {{ purchase.price }}€ <br />
            Acheté le : {{ purchase.saledate | date('d/m/Y') }} <br />
            Commande numéro : <b>{{ purchase.id }}</b> <br />
            <a href="{{ path('victor_ad_ordertracking',{'id': purchase.id}) }}">Suivi de la commande</a>
        </div>

    {% endfor %}
    </div>

{% endblock %}