{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    <a href="{{ path('victor_ad_account') }}"><input type="button" class="persoButtonReturn" value="Revenir sur le compte"></a>

    <h2>Vos ventes :</h2>

    {% if listSales == null %}

    <p>Vous n'avez actuellement rien vendu</p>

    {% else %}

        <div class="table-responsive">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Vente n°</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Capacité</th>
                    <th>Couleur</th>
                    <th>Prix</th>
                    <th>Suivi</th>
                </tr>

            {% for sale in listSales %}

                <tr>
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.phone.brand }}</td>
                    <td>{{ sale.phone.model }}</td>
                    <td>{{ sale.phone.capacity }}Go</td>
                    <td>{{ sale.phone.color }}</td>
                    <td>{{ sale.price }}€</td>
                    <td><a href="{{ path('victor_ad_ordertracking',{'id': sale.id}) }}">Suivi</a></td>
                </tr>

            {% endfor %}

            </table>
        </div>

    {% endif %}

{% endblock %}