{% extends '@VictorCore/layout.html.twig' %}

{% block body %}

    {% for sale in listSales %}

        Vos ventes : <br />

        {{ sale.phone.brand }} <br />
        {{ sale.phone.model }} <br />
        {{ sale.phone.capacity }} <br />
        {{ sale.phone.color }} <br />

        Au prix de : <br />

        {{ sale.price }}€

        Vous pouvez acceder au suivi de vos vente : <a href="{{ path('victor_ad_ordertracking',{'id': sale.id}) }}">ici</a>

        <hr>


    {% endfor %}

{% endblock %}